@charset "utf-8";
/* CSS Document */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Altrura para el footer */
    font-size: 12px;
}
h1 {
    font-size: 34px;
}
h4 small a{
    margin-right: 15px;
    margin-left: 15px;
    color:#999;
}
h4 a {color: #000;}

h4 a:hover{ text-decoration: none; color: #003b7e; cursor: pointer; }


.container {
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px /*Altura del footer */
}

/*Header*/
#logo {
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
}

/*Contenido Administración*/
h1 {
	margin-top:0px;
	margin-bottom: 20px;
}
h4 {
	margin-bottom: 25px;
}
fieldset legend {
    font-size: 14px;
    color: #666;
}

/*Estilo para fichas */

.ui-tabs .ui-tabs-panel{
    padding: 0px !important;
    margin-top: -26PX;
    margin-left: 4px;
}

.nav-tabs > li> a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    color: #666;
    background-color: #fcfcfc !important;
    border: 1px solid #cfcfcf;
    border-bottom-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #FFF;
    color: #115b8d;
   /* cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;*/
}

.nav-tabs > li > a {
    margin-right: 0px;
}

.ficha {

	border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width: 1px;
    margin-left: -1px;
    margin-top: 26px;
}

.panel-body{
    background-color: #fcfcfc;
}

.tap-content {
	    margin-left: 2px;
}

/*Formulario */

.input-sm {
    margin-bottom: 12px;
}

.sub-form{
    /*font-size: 11px;*/
    text-decoration: none;
    font-weight: normal;

}

.radio input[type='radio'], .radio-inline input[type='radio'] {
    /*margin-left: 20px !important;*/
}

.checkbox {
	float: left;
}

.margin-left {
    padding-left: 35px !important;
}
.txt_izq {
	text-align: left !important;
}
.linea {
    float: left !important;
    margin-left: 15px;
    margin-bottom: 10px;
}


button[type="submit"] { margin-top: 10px; margin-bottom: 10px; }

.fila_oculta{
    display: none;;
}
*/

